/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.1.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: HelveticaNeue, "Helvetica Neue", Helvetica, "Lucida Grande", LucidaGrande, Verdana, Roboto, "Droid Sans", "segoe ui", Arial, sans-serif;
  color: #333; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.mapcontainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

#map_canvas {
  width: 100%;
  height: 100%; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px; }

p {
  font-size: .9em;
  font-weight: 300;
  line-height: 1.3em; }

.location {
  float: left; }
  .location > button {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    -webkit-borer-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    float: left;
    margin-right: 10px;
    background: #f22929;
    background: -moz-linear-gradient(top, #f22929 0%, #ea1515 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f22929), color-stop(100%, #ea1515));
    background: -webkit-linear-gradient(top, #f22929 0%, #ea1515 100%);
    background: -o-linear-gradient(top, #f22929 0%, #ea1515 100%);
    background: -ms-linear-gradient(top, #f22929 0%, #ea1515 100%);
    background: linear, to bottom, #f22929 0%, #ea1515 100%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f22929', endColorstr='#ea1515',GradientType=0 ); }
    .location > button:hover {
      background: #ea0000;
      background: -moz-linear-gradient(top, #ea0000 0%, #dd0000 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea0000), color-stop(100%, #dd0000));
      background: -webkit-linear-gradient(top, #ea0000 0%, #dd0000 100%);
      background: -o-linear-gradient(top, #ea0000 0%, #dd0000 100%);
      background: -ms-linear-gradient(top, #ea0000 0%, #dd0000 100%);
      background: linear, to bottom, #ea0000 0%, #dd0000 100%;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea0000', endColorstr='#dd0000',GradientType=0 ); }
    .location > button > span {
      position: absolute;
      top: 10px;
      left: 10px;
      margin: auto;
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("../images/geolocate.png");
      background-size: 20px 20px; }
  .location > form {
    margin: 0;
    padding: 0;
    float: left;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, "Lucida Grande", LucidaGrande, Verdana, Roboto, "Droid Sans", "segoe ui", Arial, sans-serif; }
    .location > form > input {
      height: 40px;
      -webkit-appearance: none;
      border: none;
      margin: 0;
      float: left; }
      .location > form > input:first-of-type {
        width: 400px;
        -webkit-borer-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
        font-size: .8em; }
        .location > form > input:first-of-type:focus {
          outline: none; }
      .location > form > input:last-of-type {
        cursor: pointer;
        color: #ffffff;
        font-size: .8em;
        width: 40px;
        -webkit-borer-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
        background: #f22929;
        background: -moz-linear-gradient(top, #f22929 0%, #ea1515 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f22929), color-stop(100%, #ea1515));
        background: -webkit-linear-gradient(top, #f22929 0%, #ea1515 100%);
        background: -o-linear-gradient(top, #f22929 0%, #ea1515 100%);
        background: -ms-linear-gradient(top, #f22929 0%, #ea1515 100%);
        background: linear, to bottom, #f22929 0%, #ea1515 100%;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f22929', endColorstr='#ea1515',GradientType=0 ); }
        .location > form > input:last-of-type:hover {
          background: #ea0000;
          background: -moz-linear-gradient(top, #ea0000 0%, #dd0000 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea0000), color-stop(100%, #dd0000));
          background: -webkit-linear-gradient(top, #ea0000 0%, #dd0000 100%);
          background: -o-linear-gradient(top, #ea0000 0%, #dd0000 100%);
          background: -ms-linear-gradient(top, #ea0000 0%, #dd0000 100%);
          background: linear, to bottom, #ea0000 0%, #dd0000 100%;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea0000', endColorstr='#dd0000',GradientType=0 ); }
      .location > form > input[type="search"] {
        background-color: rgba(255, 255, 255, 0.95);
        -webkit-transition: background-color 0.4s;
        -moz-transition: background-color 0.4s;
        transition: background-color 0.4s; }
        .location > form > input[type="search"]:focus {
          background-color: #fff; }

.menu {
  float: right; }
  .menu > ul {
    list-style-type: none;
    margin: 0;
    background-color: #fff;
    padding: 0; }
    .menu > ul > li {
      margin: 0;
      float: left;
      height: 40px;
      line-height: 40px;
      width: 80px;
      display: inline-block;
      text-align: center;
      font-size: .8em;
      cursor: pointer;
      background-color: #fff;
      border-bottom: solid 2px #ccc;
      position: relative; }
      .menu > ul > li:not(:first-of-type):after {
        width: 1px;
        position: absolute;
        top: 0;
        bottom: -2px;
        left: 0;
        background-color: #aaa;
        content: ""; }
      .menu > ul > li:hover, .menu > ul > li:focus {
        border-bottom-color: #555; }
      .menu > ul > li.active {
        border-bottom: solid 4px #7abcff; }

.info {
  position: fixed;
  right: 20px;
  width: 320px;
  bottom: 20px;
  top: 60px;
  background-color: #fff;
  padding: 20px;
  overflow: hidden;
  display: none; }
  .info.about {
    display: block; }
    .info.about > div {
      padding-bottom: 20px; }
  .info > div {
    position: absolute;
    padding: 0 20px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 40px;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; }
  .info > a {
    color: #fff;
    font-size: .8em;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border: none;
    height: 40px;
    background-color: #313131;
    text-align: center;
    font-size: 14px;
    line-height: 40px; }

.location > *, .menu, .info {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.evac.info > div, .legend.info > div, .prepare.info > div {
  padding: 0; }

.evac h4 {
  margin: 0;
  padding: 6px 10px;
  color: #ffffff;
  background-color: #555;
  font-weight: 200; }

.evacLocation {
  padding: 10px 20px;
  border-bottom: solid thin #ccc;
  cursor: pointer; }
  .evacLocation > h2 {
    margin: 0;
    font-size: 1.2em; }
  .evacLocation > span {
    display: block; }

.zone {
  padding: 20px 10px;
  border-left: solid 20px;
  position: relative; }
  .zone._1 {
    border-left-color: #68154a; }
    .zone._1:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #ccc;
      content: ""; }
  .zone._2 {
    border-left-color: #9b1530; }
    .zone._2:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #ccc;
      content: ""; }
  .zone._3 {
    border-left-color: #ce1515; }
    .zone._3:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #ccc;
      content: ""; }
  .zone._4 {
    border-left-color: #da5c10; }
    .zone._4:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #ccc;
      content: ""; }
  .zone._5 {
    border-left-color: #e6a40b; }
    .zone._5:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #ccc;
      content: ""; }
  .zone._6 {
    border-left-color: #f2eb06; }
    .zone._6:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #ccc;
      content: ""; }
  .zone.none {
    border-left-color: #fff; }
  .zone > h2 {
    padding-top: 0;
    margin: 0; }

.prepare h1 {
  font-size: 1.6em;
  padding: 0;
  margin: 0; }
.prepare h2 {
  font-size: 1.2em; }
.prepare > div > section {
  padding: 20px;
  border-bottom: solid thin #ccc; }

.two-links {
  border: solid 1px #ccc;
  margin-bottom: 30px;
  display: table;
  width: 100%;
  border-collapse: collapse; }
  .two-links a {
    display: block;
    text-align: center;
    height: 80px;
    width: 50%;
    display: table-cell;
    vertical-align: middle; }
    .two-links a:first-of-type {
      border-right: solid 1px #ccc; }
    .two-links a:hover {
      background-color: #f2f2f2; }
  .two-links img {
    max-width: 80%; }

.btn {
  display: inline-block;
  height: 30px;
  color: #fff;
  background-color: #6296cc;
  text-align: center;
  line-height: 30px;
  border: solid 1px #316397;
  font-size: 0.75em;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: 300; }
  .btn:hover {
    background-color: #3e7cbd; }
  .btn.full {
    width: 100%;
    margin-bottom: 5px; }
  .btn.half {
    width: 49%;
    float: left; }
    .btn.half:nth-of-type(2n) {
      margin-left: 2%; }
  .btn.third {
    width: 32%;
    float: left; }
    .btn.third:not(:nth-of-type(3n - 2)) {
      margin-left: 2%; }
  .btn.facebook {
    background-color: #3b5998;
    border-color: #1e2e4f; }
    .btn.facebook:hover {
      background-color: #2d4373;
      border-color: #10182a; }
  .btn.twitter {
    background-color: #55acee;
    border-color: #147bc9; }
    .btn.twitter:hover {
      background-color: #2795e9;
      border-color: #0f5f9b; }
  .btn.gplus {
    background-color: #dd4b39;
    border-color: #96271a; }
    .btn.gplus:hover {
      background-color: #c23321;
      border-color: #6b1c12; }

.toggle-map {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #fff;
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 0.8em; }
  @media screen and (max-width: 730px) {
    .toggle-map {
      left: -327px;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s; }
      .toggle-map.show {
        -webkit-transform: translateX(327px);
        -moz-transform: translateX(327px);
        -ms-transform: translateX(327px);
        -o-transform: translateX(327px);
        transform: translateX(327px); } }
  @media screen and (max-width: 399px) {
    .toggle-map {
      left: -140px; }
      .toggle-map.show {
        -webkit-transform: translateX(140px);
        -moz-transform: translateX(140px);
        -ms-transform: translateX(140px);
        -o-transform: translateX(140px);
        transform: translateX(140px); } }
  .toggle-map:after {
    content: "";
    clear: both; }
  .toggle-map li {
    float: left;
    cursor: pointer; }
    @media screen and (max-width: 399px) {
      .toggle-map li {
        float: none;
        width: 120px;
        margin: 5px 0 !important; } }
  .toggle-map .right {
    padding-left: 10px;
    border-left: solid 1px #ccc; }
    @media screen and (max-width: 399px) {
      .toggle-map .right {
        border-left: 0;
        padding-left: 0; } }
  .toggle-map .middle {
    padding: 0 10px;
    border-left: solid 1px #ccc; }
    @media screen and (max-width: 399px) {
      .toggle-map .middle {
        padding: 0;
        border-left: 0;
        border-top: solid 1px #ccc;
        border-bottom: solid 1px #ccc; } }
  .toggle-map .left {
    padding-right: 10px; }
    @media screen and (max-width: 399px) {
      .toggle-map .left {
        padding-right: 0; } }
  .toggle-map .active {
    color: #d8281a; }
  .toggle-map .menu-icon {
    margin-left: 10px;
    display: none; }
    @media screen and (max-width: 730px) {
      .toggle-map .menu-icon {
        display: block; } }
    @media screen and (max-width: 399px) {
      .toggle-map .menu-icon {
        position: absolute;
        bottom: -5px;
        right: -30px;
        width: auto;
        background-color: #fff;
        padding: 10px; } }

.googft-info-window h4 {
  display: none; }
.googft-info-window ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .googft-info-window ul li:last-of-type {
    display: none; }

@media screen and (max-width: 859px) {
  .location > form > input:first-of-type {
    width: 300px; } }
@media screen and (max-width: 759px) {
  .location > form > input:first-of-type {
    width: 200px; } }
@media screen and (max-width: 659px) {
  .location, .menu {
    float: none; }

  .location > form {
    width: -webkit-calc(100% - 50px);
    width: -moz-calc(100% - 50px);
    width: calc(100% - 50px); }
    .location > form > input:first-of-type {
      width: -webkit-calc(100% - 40px);
      width: -moz-calc(100% - 40px);
      width: calc(100% - 40px); }

  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; }
    .menu > ul {
      -webkit-borer-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0; }
      .menu > ul > li {
        width: 25%; }
        .menu > ul > li:first-of-type, .menu > ul > li:last-of-type {
          -webkit-borer-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0; }

  .info {
    width: auto;
    left: 20px;
    bottom: 60px; }

  #map_canvas {
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px); }

  .toggle-map {
    bottom: 60px; } }
@-ms-viewport {
  width: device-width; }
