@charset "UTF-8";
/* CSS Document */

html {
	height:100%;
}
*:focus {
	outline:none;
}
img {
	border:none;
}
textarea {
	background:transparent;
	color:#fff;
}

body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	font-family:roboto;
}
#map_canvas {
	height:100%;
}


/*	Navigation Bar	*/

#topbar {
	height:.5in;
	width:100%;
	position:fixed;
	background-color:rgba(0,0,0,.8);
	top:0px;
	left:0px;
	border-bottom:solid 2px #33B5E5;
}
#topbar a:link, #topbar a:visited {
	color:#fff;
	text-decoration:none;
	padding-left:3mm;
	padding-right:3mm;
	padding-bottom:1mm;
	margin:0;
}

#search {
	float:left;
	margin-left:2.5mm;
	margin-top:2.5mm;
	padding:0;
}
#search img{
	float:left;
	height:8mm;
}

#search form{
	float:left;
	margin-left:5px;
	padding:0;
	margin-top:3px;
}
#searchbox {
	height:6mm;
	width:300px;
	font-size:16px;
	color:#fff;
	margin-top:-.5mm;
	float:left;
	padding-left:1mm;
	padding-right:1mm;
	-webkit-animation-duration:.2s;
	-moz-animation-duration:.2s;
	animation-duration:.2s;
	border:none;
	background-color:rgba(0,0,0,0);
	border-bottom:solid 1px #fff;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	
}
#searcbox textbox {
	-webkit-appearance:none;
	background-color:transparent;
	color:#fff;
}
#searchbox:focus {
	-webkit-appearance:none;
	outline:none;
	border-bottom-color:#33B5E5;
	background-color:rgba(0,0,0,0);
}
#searchox:active {
	webkit-appearance:none;
	outline:none;
	background-color:rgba(0,0,0,0);
}
#geocodebutton {
	float:left;
	margin-left:5px;
}
#navigation {
	float:right;
	margin-right:2.5mm;
	margin-top:4mm;
	font-size:16px;
}
.menuitem {
	border-bottom:solid thin #0099CC;
}
#menucenters {
}
#menulegend {
}
#navsmall {
	float:right;
	margin-right:.75mm;
	margin-top:3mm;
	height:8mm;
}
#navsmall img{
	height:7mm;
}
#navsmall a:link, #navsmall a:visited{
	margin-left:0px;
}
#tinym {
	position:absolute;
	top:.5in;
	right:1.5mm;
	background-color:#333;
	width:200px;
	-webkit-border-bottom-left:2px;
	-webkit-border-bottom-right:2px;
	display:none;
	z-index:8;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	padding-bottom:6px;
}
#tinym ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
#tinym li {
	margin:0;
	padding:0;
	width:180px;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:20px;
	border-bottom:solid thin #fff;
	
}
#tinym a:link, #tinym a:visited {
	color:#fff;
	text-decoration:none;
}

/*	END Navigation Bar	*/

/* Infobox Styling */
#zoneboxes {
	position:fixed;
	width:70%;
	height:75%;
	background-color:#fff;
	top:10%;
	left:15%;
	overflow:scroll;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
	display:none;
}
.legend {
	border-bottom:solid thin #333;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
	margin-top:10px;
	float:left;
}
.infotext {
	float:left;
	margin-right:10px;
}
.infotext p{
	padding:0;
	margin:0;
}
.infotext h2{
	padding:0;
	margin:0;
}
#closezones {
	position:absolute;
	top:85%;
	left:15%;
	width:70%;
	background-color:#333;
	color:#fff;
	display:none;
}
#closezones h2 {
	margin-left:10px;
	font-size:1em;
}
#closezones a:link, #closezones a:visited, #closezones a:hover {
	text-decoration:none;
	color:#fff;
}

/* End Infobox Styling */

/* Evacuation Window Styling */
#evaccenters {
	display:none;
	position:fixed;
	top:10%;
	left:15%;
	background-color:#fff;
	overflow-x:none;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	width:70%;
	height:75%;
	list-style-type:none;
	margin:0;
	padding:0;
}
#evaclist {
	-webkit-overflow-scrolling:touch;
}
.locationseven, .locationsodd {
	padding-left:10px;
	padding-right:10px;
	border-bottom:solid thin #ccc;
	padding-bottom:20px;
	padding-top:20px;
	background: -webkit-gradient(linear, center center, center bottom, from(#FFF), to(#F5F5F5));
	background: -moz-linear-gradient(#fff, #f5f5f5);
	filter: progid:DxImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5');
}
#evaclist a:link, #evaclist a:visited, #evaclist a:hover {
	text-decoration:none;
	color:#000;
}
#evaccenters p{
	margin:0;
	padding:0;
}
#evaccenters h2 {
	margin-bottom:5px;
	margin-top:0;
}
#closeevac {
	position:absolute;
	top:85%;
	left:15%;
	width:70%;
	background-color:#333;
	color:#fff;
	display:none;
}
#closeevac h2 {
	margin-left:10px;
	font-size:1em;
}
#closeevac a:link, #closeevac a:visited, #closeevac a:hover {
	text-decoration:none;
	color:#fff;
	font-size:1em;
}
#nav_vertical {
	display:none;
}
#nav_horizontal {
	position:fixed;
	top:0;
	left:-195px;
	width:200px;
	height:100%;
	background-color:#333;
	color:#fff;
	-moz-box-shadow:0px 0px 10px #000;
	-webkit-box-sdhadow:0px 0px 10px #000;
	box-shadow:0px 0px 10px #000;
}
#nav_horizontal ul {
	list-style-type:none;
	padding:0;
	margin:0;
	margin-top:50px;
	border-top:solid thin #333;
}
#nav_horizontal li {
	padding:0;
	margin:0;
	padding-left:10px;
	border-bottom:solid thin #ccc;
	font-size:18px;
	padding-top:10px;
	padding-bottom:10px;
	font-size:18px;
	width:190px;
}
#nav_horizontal li:active {
	background-color:#09f;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s;
}
#scrollin {
	position:fixed;
	left:190px;
	top:50%;
	margin-top:-10px;
	display:none;
	
}
#scrollout {
	position:fixed;
	left:-5px;
	top:50%;
	margin-top:-10px;
}
#prepareinfo {
	position:fixed;
	top:10%;
	left:15%;
	background-color:#fff;
	overflow-x:none;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
	width:70%;
	height:75%;
	list-style-type:none;
	margin:0;
	padding:0;
	display:none;
}
#preparecontent, #preparetitle {
	margin-left:10px;
	margin-right:10px;
	font-size:1em;
}
#closeprepare {
	position:absolute;
	top:85%;
	left:15%;
	width:70%;
	background-color:#333;
	color:#fff;
	display:none;
}
#closeprepare h2 {
	margin-left:10px;
	font-size:1em;
}
#closeprepare a:link, #closeprepare a:visited, #closeprepare a:hover {
	text-decoration:none;
	color:#fff;
	font-size:1em;
}
#directionspopup{
    display:none;
}


/*	Jscroll CSS Requirements */
.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	position: relative;
}

.jspDrag
{
	background: #bbd;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}
* html .jspCorner
{
	margin: 0 -3px 0 0;
}