@keyframes transitionIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.searchContainer,
.inputContainer,
.topView {
  display: flex;
}

.topView {
  width: 100%;
  border-radius: 4px;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
  @media screen and (min-width: 600px) {
    max-width: 560px;
  }
}

.inAppMode {
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    height: calc(80px + constant(safe-area-inset-top));
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0));
  }
}

.searchContainer {
  position: fixed;
  top: 10px;
  left: 50%;
  width: 100%;
  max-width: 580px;
  transform: translateX(-50%);
  padding: 0 10px;
  justify-content: center;

  .inAppMode & {
    top: 30px;

    @media screen and (device-height: 812px) and (orientation: portrait) {
      top: constant(safe-area-inset-top);
    }

    @media screen and (max-device-width: 450px) and (orientation: landscape) {
      top: 10px;
    }
  }
}

.locationStatus,
.shelters {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.locationStatus {
  padding: 9px 10px;
  color: #4b4b4b;
  font-weight: 600;
  font-size: 14px;
  background-color: #e3e3e3;
  border-radius: 0 0 4px 4px;
  transition: all 0.2s;
  z-index: 2;

  &.activeZone {
    color: #fff;
    background-color: #222;
    border-radius: 0;
  }
}

.shelters {
  animation-name: transitionIn;
  animation-duration: 0.3s;
  background-color: #f9f9f9;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  text-align: left;

  .shelter:last-of-type {
    border-bottom: 0 none;
  }
}

.shelter {
  display: flex;
  border-bottom: solid 1px #bbb;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.directions {
  width: 60px;
  height: 100%;
  background-image: url('../../assets/img/navigate-to.svg');
  background-position: center center;
  background-repeat: no-repeat;
  display: block;

  &:hover,
  &:focus {
    background-image: url('../../assets/img/navigate-to-active.svg');
  }

  &:focus {
    outline: 0 none;
    box-shadow: inset 0 0 3px 3px rgba(68,156,248,0.8);
  }
}

.shelterInfo {
  padding: 0 10px;
  flex: 1;

  .streetAddress,
  .district,
  .distance {
    display: block;
  }

  .streetAddress {
    color: #222;
    font-size: 15px;
  }

  .district {
    color: #424242;
    font-size: 14px;
    font-style: normal;
  }

  .distance {
    color: #555;
    font-size: 12px;
  }
}

.inputContainer {
  flex: 1;
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  z-index: 2;

  form {
    flex: 1 0;
  }

  input {
    width: 100%;
    height: 40px;
    border: 0 none;
    border-right: solid 1px #f1f1f1;
    border-left: solid 1px #f1f1f1;
    color: #4d4d4d;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0;
    padding: 0 10px;

    &:focus {
      background-color: #fcfcfc;
    }
  }

  .geolocate,
  .optionsToggle,
  input {
    appearance: none;
    background-color: #fff;

    &:focus {
      outline: 0 none;
      box-shadow: inset 0 0 3px 3px rgba(68,156,248,0.8);
    }
  }
}

.geolocate,
.optionsToggle {
  width: 40px;
  display: block;
  flex: 0 0 40px;
  border: 0 none;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;

  &:hover,
  &:focus {
    background-color: #fcfcfc;
  }

  & img {
    display: block;
  }
}

.optionsToggle {
  position: relative;

  &.showNotice {
    &::after {
      display: block;
    }
  }

  &.active {
    background-color: #F1F3FF;
  }
  
  &::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    top: 7px;
    right: 7px;
    background-color: #4D61FF;
    box-shadow: -1px 1px 0 0 rgba(0,0,0,0.2);
    display: none;
  }
}
